.passion-one {
    font-family: 'Passion One', cursive;
}
.chango {
    font-family: 'Chango', cursive;
}
.inter {
    font-family: 'Inter', sans-serif;
}
.luckiest-guy {
    font-family: 'Luckiest Guy', cursive;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}
.rammetto-one {
    font-family: 'Rammetto One', cursive;
}
.roboto {
    font-family: 'Roboto', cursive;
}
.rowdies {
    font-family: 'Rowdies', cursive;
}
.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}
.ojuju {
    font-family: 'Ojuju', sans-serif;
}
.sigmar {
    font-family: 'Sigmar', cursive;
}
.dynapuff {
    font-family: 'Dynapuff', cursive;
}
.ranchers {
    font-family: 'Ranchers', cursive;
}
.gluten {
    font-family: 'Gluten', cursive;
}
.shrikhand {
    font-family: 'Shrikhand', cursive;
}
.righteous {
    font-family: 'Righteous', sans-serif;
}
.yatra-one {
    font-family: 'Yatra One', cursive;
}
.ceviche-one {
    font-family: 'Ceviche One', cursive;
}
