<select id="langSelect">
    <option value="en">🇺🇸 EN</option>
    <option value="ru">🇷🇺 RU</option>
    <option value="nl">🇳🇱 NL</option>
    <option value="pl">🇵🇱 PL</option>
    <option value="ro">🇷🇴 RO</option>
    <option value="bg">🇧🇬 BG</option>
    <option value="hu">🇭🇺 HU</option>
    <option value="sl">🇸🇮 SL</option>
    <option value="lt">🇱🇹 LT</option>
    <option value="cs">🇨🇿 CS</option>
    <option value="lv">🇱🇻 LV</option>
    <option value="tr">🇹🇷 TR</option>
    <option value="ar">🇸🇦 AR</option>
    <option value="es">🇪🇸 ES</option>
    <option value="uk">🇺🇦 UK</option>
    <option value="ko">🇰🇷 KO</option>
    <option value="de">🇩🇪 DE</option>
    <option value="sk">🇸🇰 SK</option>
    <option value="be">🇧🇾 BE</option>
    <option value="bn">🇧🇩 BN</option>
    <option value="bs">🇧🇦 BS</option>
    <option value="da">🇩🇰 DA</option>
    <option value="el">🇬🇷 EL</option>
    <option value="et">🇪🇪 ET</option>
    <option value="fi">🇫🇮 FI</option>
    <option value="fr">🇫🇷 FR</option>
    <option value="ga">🇮🇪 GA</option>
    <option value="he">🇮🇱 HE</option>
    <option value="hi">🇮🇳 HI</option>
    <option value="hr">🇭🇷 HR</option>
    <option value="hy">🇦🇲 HY</option>
    <option value="id">🇮🇩 ID</option>
    <option value="is">🇮🇸 IS</option>
    <option value="fa">🇮🇷 FA</option>
    <option value="it">🇮🇹 IT</option>
    <option value="ja">🇯🇵 JA</option>
    <option value="ka">🇬🇪 KA</option>
    <option value="kk">🇰🇿 KK</option>
    <option value="kl">🇬🇱 KL</option>
    <option value="ky">🇰🇬 KY</option>
    <option value="ms">🇲🇾 MS</option>
    <option value="nb">🇳🇴 NB</option>
    <option value="pt">🇵🇹 PT</option>
    <option value="rm">🇨🇭 RM</option>
    <option value="sq">🇦🇱 SQ</option>
    <option value="sr">🇷🇸 SR</option>
    <option value="tg">🇹🇯 TG</option>
    <option value="th">🇹🇭 TH</option>
    <option value="uz">🇺🇿 UZ</option>
    <option value="vi">🇻🇳 VI</option>
    <option value="zh-CN">🇨🇳 ZH</option>
</select>

<div class="custom-select">
    <div class="custom-select__selected">
        <span class="flag">🇺🇸</span>
        <span class="language-code">EN</span>
    </div>
    <div class="custom-select__list">
        <div class="custom-select__list-search">
            <input type="text" class="search-box" placeholder="Search..." />
        </div>
    </div>
</div>